* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(58, 182, 58)
}

h1{
    text-align: center;
    padding: 25px;
}

.container {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #ccc;
    border-radius: 1px;
    background-color: rgb(165, 182, 165)
}

.displaybuttons {
    box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    
}